.layout {
  display: flex;
  min-height: 100vh;
  background: #e3ebff; 
}

.main {
  flex: 1;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 24px;
  margin-top: 70px;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.page-title svg {
  vertical-align: middle;
  margin-right: 6px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
}

.btn {
  display: flex;
  align-items: center;
  background: #6fb1f3;
  border: none;
  padding: 12px 26px;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #5790d3;
}

.btn svg {
  margin-right: 6px;
}


.table-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-row, .data-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 8px;
}

.cell {
  background: #ffffff;
  padding: 16px 12px;
  border-radius: 14px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #e0e7ff;
}

.cell.header {
  background: #dfe6f5;
  font-size: 15px;
}

.data-row {
  cursor: pointer;
  transition: all 0.2s;
}

.data-row:hover .cell {
  background: #e6f0ff;
  transform: translateY(-1px);
}

.data-row.selected .cell {
  background: #6fb1f3;
  color: white;
  border-color: #6fb1f3;
}

