@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Edu+QLD+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Meie+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khojki:wght@400..700&family=Playwrite+CA:wght@100..400&family=Playwrite+CZ:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Edu+QLD+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Meie+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khojki:wght@400..700&family=Playwrite+CA:wght@100..400&family=Playwrite+CZ:wght@100..400&family=Readex+Pro:wght@160..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Edu+QLD+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Meie+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khojki:wght@400..700&family=Playwrite+CA:wght@100..400&family=Playwrite+CZ:wght@100..400&family=Readex+Pro:wght@160..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
#root {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden ;
     background-color:rgb(215, 215, 218);
}
.welcome{
     width: 55%;
    height: 35%;
     position: absolute;
     top: 18%;
    left: 25%;
    background-color:white;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
}
.welcome h1{
    color: rgb(4, 21, 77);
    margin-left: 10%;
   font-family: Ubuntu;
    width: 100%;
    margin-top: 18%;
    margin-left: 25%;
     text-shadow: 2px 2px 5px rgb(9, 39, 139);
}
.welcome p{
    color: rgb(4, 21, 77);
    margin-left: 10%;
   font-family: Ubuntu;
    width: 100%;
    font-size: 30px;
    margin-top: 0%;
    position: absolute;
    top: 85%;
     margin-left: 25%;
      text-shadow: 2px 2px 5px rgb(9, 39, 139);
}
.welcome .Rightwelcom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0%;
}
.type{
    width: 30%;
    height: 95%;
    position: absolute;
    left: 50%;
  
   
}
.type ul{
   
   list-style: none;
}
.stat-card{
 display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   background-color: blueviolet;
   
}
.stat-card h5{
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.circle{
    position: absolute;
    left: 75%;
    top: 10%;
}