.charts-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  align-items: stretch;
  width: 100%;
}

.charts-container > donutchart {
  background-color: #fff;
  border-radius: 12px;
  padding: 50px 50px 50px 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
