
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #0b1a57;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 1000;
}

.header-left .logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #0b1a57;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}


.profile-card {
  display: flex;
  align-items: center;
  background-color: #f0f3fa;
  color: #0b1a57;
  padding: 8px 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-right: 40px;
}


.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.profile-info p {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.7;
}

