.sidebar {
  width: 60px;
  background-color: #0b1a57;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar:hover {
  width: 220px;
}


.sidebar:hover .logo {
  opacity: 1;
}

.sidebar nav ul,
.bottom-icons {
  list-style: none;
  padding: 0;
  margin-top: 50px
}

.sidebar nav ul li,
.bottom-icons li {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 0.95rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.icon {
  font-size: 1.8rem;
  color: #fff;
  min-width: 40px; /* يحافظ على مساحة للأيقونة */
  text-align: center;
}

.sidebar nav ul li span,
.bottom-icons li span {
  opacity: 0;
  margin-left: 10px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.sidebar:hover nav ul li span,
.sidebar:hover .bottom-icons li span {
  opacity: 1;
}


.sidebar nav ul li:hover,
.bottom-icons li:hover {
  background-color: #1a2a6c;
  
}


.sidebar nav ul li.active {
  
background-color: #F6EDED;
  color: #0b1a57; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -15px; 
  padding-right: 15px;

}

.sidebar nav ul li.active .icon {
  color: #0b1a57; 
}