@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Edu+QLD+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Meie+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khojki:wght@400..700&family=Playwrite+CA:wght@100..400&family=Playwrite+CZ:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Edu+QLD+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Meie+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khojki:wght@400..700&family=Playwrite+CA:wght@100..400&family=Playwrite+CZ:wght@100..400&family=Readex+Pro:wght@160..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
#root {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden ;
     background-color:rgb(215, 215, 218);
}
.head{
  position: fixed;

z-index: 80;

    background-color:rgba(7, 30, 106, 1);
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 15px;
box-shadow: 2px 2px 5px rgba(0,0,0,0.7);


}
.head h1{
        font-family:'Lobster' ;
        color: white;
        font-weight: 400;
        font-size: 30px;
         margin-left: 20px;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    }
    .head ul{
    list-style: none;
    display: flex;
   justify-content: end;
    align-items: center;
    
    height: 100%;
    width: 50%;
 
  
 }
  
 .head ul .notification{
    color:rgb(2, 14, 54); 
    font-size: 33px;
    background-color: rgb(255, 255, 255,0.8);
    width: 43px;
    height: 43px;
    border-radius: 50px;
    text-align: center;
    transition: all 0.3s ease; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    z-index: 3;
  }
  .head ul .notification:hover{
    width: 46px;
    height: 46px;
     background-color:white;
     text-align: center;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  }
   .Profile{
    width: 154px;
    height: 43px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
   
   }
   .Profile span{
    font-size: 14px;
    display: inline-block;
    margin-right: 16px;
    color: rgb(2, 14, 54);
    font-family: " Lobster";
    text-shadow:2px 2px 5px rgba(0,0,0,0.7) ;
   }
.Profile img{
         width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-left: 7px;
    }
    .head ul li{
      
        height: 70%;
        width: 20%;
        margin-right: 4%;
         
    }
   .notificationpage{
    height: 100%;
    width: 60%;
    background-color: white;
    margin-left: 20%;
    
   box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
   position: fixed;
  top: 0%;
  left: -600%; 
  
   transition: right 0.3s ease;
  z-index: 90;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x:hidden ;
   }
   .notifhead{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 15%;
    margin-top: 0px;
    list-style-type: none;
   }
   .notifhead h1{
   font-family:'Lobster' ;
        color:rgb(2, 14, 54) ;
        font-weight: 400;
        font-size: 30px;
         margin-left: 25px;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
        margin-left: 0px;
   }
   .notifhead .close{
    font-size:36px ;
      color:rgb(2, 14, 54) ;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
        margin-right: 0px;
   }
   .nodifibody{
   
   width: 95%;
   height: 80%;
   margin-left: auto;
   margin-right: auto;
   }
   .notificationpage.show {
  left: 0; 
}
   .nodifibody ul{
    list-style-type: none;
    width:100% ;
    height: 90%;
   }
   .notification-item{
    margin-top:     5%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(167, 165, 165, 0.8);
    width: 85%;
    height: 15%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
   }
   .notification-item .Icon{
    margin: 35px;
    font-size: 30px;
     color:rgb(2, 14, 54) ;
     background-color: white;
     width: 60px;
     height: 60px;
     border-radius: 50px;
     text-align: center;
     display: flex;              
  justify-content: center; 
     align-items: center;   
  
   }
    .notification-item .text{
      font-family: " Lobster";
        width: 65%;
        font-size: 15px;
margin-right: 40px;

    }
    .overlay {
  position: fixed;
  top: 0px; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 4000; 
}
.bodyTB{
   
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    z-index: 20;
    position: fixed;
    right: 0%;
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 5%;
}
.Top{
  margin-top: 3%;
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
  
  
}
.Top .Left{
    width: 70%;
    height: 100%;
   
}
.Top .Left h1{
    color:  rgb(2, 14, 54);
    font-size: 25px;
    margin-left: 5%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  
}
.Top .Left span{
     color:rgb(109, 109, 119) ;
     font-size: 15px;
     margin-left: 5%;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
   
     margin-top: 0%;
     margin-bottom: 5%;
}
.Top ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    gap: 17px;
    color: rgb(2, 14, 54) ;
    font-size: 24px;
   margin-top: 4%;
    margin-right: 3%;
    text-align: center;
}
.Top ul li {
     width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255,0.8);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    transition: all 0.3s ease; 
    z-index: 3;
}
.Top ul li:hover{
     color:white;
      background-color: rgb(201, 201, 209);
      
       

}

.table{
    width: 80%;
    height: 100%;
   
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
table, th, td {
  border: none;
  border-collapse: collapse;
  
}

table{
    
    height: 100%;
    border-spacing: none;
table-layout: fixed;  
  width: 100%; 
}
tr{
   
   height: 60px;        
  text-align: center;
  vertical-align: middle; 
  padding: 10px;     
    
}
.fillter {
     height: 40px; 
  
  
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}
.table .fillter th{
    color: rgb(2, 14, 54)  ;
     background-color: rgb(201, 201, 209);

 box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
 border-top-left-radius: 5px;
 border-top-right-radius: 30px;
 transition: all 0.3s ease; 
}
.table .fillter th:hover{
     background-color: white;
}
.popup {
  position: absolute;
  top: 95%;
  left: 28.5%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  width: 10%;
  
box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.popup1 {
  position: absolute;
  top: 95%;
  left: 39.5%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  width: 10%;
  
box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.popup .container{
 
 position: relative;
 top: 25%;
 left: auto;
 right: auto;
width: 100%;
padding: 10px;
}
.popup div{
  position: absolute;
right: 10%;
top: 3%;
font-size: 22px;
color: rgb(2, 14, 54)  ;
}
.popup1 div{
  position: absolute;
right: 10%;
top: 3%;
font-size: 22px;
color: rgb(2, 14, 54)  ;

}
.popup1 td{
 
   width: 100%;
}
.popup1 .class{
   width: 100%;
  
  position: relative;
  top: 10%;
}
.popup1 .class1:hover{
  background-color:rgba(0, 0, 0, 0.4) ;
  cursor: pointer;
  width: 100%;
}
.popup .class:hover{
  background-color:rgba(0, 0, 0, 0.4) ;
  cursor: pointer;
  width: 100%;
}
.table-overlay {
  position: absolute;
  margin-left: 10%;
  margin-top: 27.2%;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 5;
  height: 95%;
  width: 80%;
}
.sidebare{
    background-color: rgba(7, 30, 106, 1);
    height: 100vh;
    width: 20%;
    border-bottom-right-radius: 50px;
    
    margin-top: 5%;
    position: fixed;
    top: 25;
    z-index: 75;
    display: flex;
flex-direction: column; 
  justify-content: space-around;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.sidebare ul {
  list-style: none;
  color: white;
 font-size: 35px;

}
.sidebare ul li{
   display: flex;
   margin-bottom: 15%;
transition: background-color 0.3s ease, color 0.3s ease;
padding: 10px;
 
}
.sidebare ul li:hover{
  background-color: rgb(215, 215, 218) ;
  cursor: pointer;
  color:rgba(7, 30, 106, 1) ;
  border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
}
.sidebare ul li span{
  margin-left: 15%;
  font-size: 30px;
}
.sidebare a {
  text-decoration: none;  
  color: inherit;         
  display: flex;         
  align-items: center;  
  
}
.sidebar-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
 
}

.sidebar-link.active {
  background-color: rgb(215, 215, 218) ;
 color:rgba(7, 30, 106, 1) ;          
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   width: 150%;
   padding: 5px;
}
.deigntables{
  width: 20%;
  height: 37%;
  background-color:white;
  position: absolute;
  left: auto;
  right: 2%;
  top: 15%;
 box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
border-radius: 10px;
z-index: 90;
}
.deigntables ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 81%;
  height: 100%;
  
 margin-top: 0%;
  
}
.deigntables ul li{
 margin-left: 0%;
  width: 100%;
 padding-bottom:10px ;
 padding-top: 10px;
font-size: 20px;
 
}
.deigntables ul .deselect{
  display: flex;
  justify-content: space-between;
   background-color: rgb(215, 215, 218)  ;
   border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.deigntables ul li:hover{
  background-color: rgb(215, 215, 218)  ;
}