body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F6EDED; /* خلفية فاتحة */
}

.dashboard {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

